body{
    color: #000000;
    background-color: #ffffff;
    
    
}
a:link {color: #ffffff;}
        a:visited {color: #ffffff}
        a:hover {
            background-color: #0059fd;
            text-decoration-style: wavy;
        }
nav {
  background-color: #700d0d;
  nav {padding:10px} 
  nav {margin-bottom: 30px}
}

